data
baselines/adversarial-backdoor-for-code-models/vendor
model
*/__pycache__/*
__pycache__/**
**/__pycache__/**
output
cache
test_run
test_dir
result
pytorch_model_while_for.bin
test.sh
*.csv
*.xlsx
*.ipynb
test.py
debug
baselines/adversarial-backdoor-for-code-models/tasks/spoon-apply-transforms/jars
baselines/adversarial-backdoor-for-code-models/models/code2seq/CSharpExtractor
baselines/adversarial-backdoor-for-code-models/CodeSearch/Birnn_Transformer
sample_data.ipynb
